.cartModal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 4px;
    padding: 1em;
    background-color: white;  
    
    .MuiAvatar-root {
        margin-right: 15px;
    }

    .cartItemDelete {
        margin-left: 15px;
    }

    .cartButtonContainer {
        display: inline-flex;
        justify-content: flex-end;
    }

    Button {
        &:first-of-type {
            margin-right: 5px;
        }
    }

    .cartItemList {
        background-color: #eeeeee;
        padding: 1em;
        border-radius: 4px;
        margin-bottom: 1em;
    }

    .cartTotalValue {
        margin-bottom: 1em;
        display: flex;
        justify-content: flex-end;
    }
}

